body{
    background-image: url("./shara desert.jpg");
    background-size: cover;
}
header{
    height: 60px;
    width: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    background-image: url("./logo.png");
    height: 50px;
    width: 50px;
    align-items: center;
    background-size: cover;
    margin-top: 30px;
    margin-left: 80px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
a{
    color: white;
    text-decoration: none;
    margin-right: 80px;
}
.a1{
    height: 30px;
    width: 30px;
}
h1{
    font-size: 100px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 500px;
}
.para{
    margin-top: -200px;
    margin-left: 100px;
    color: white;
    width: auto;
    height: 100px;
}
.ex{
    background-color: white;
    color: black;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}
.box{
    height: 200px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: -250px;
    margin-left: 200px;
}
.card1{
    background-image: url("./pic-1.png");
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
    height: 250px;
    width: 200px;
    position: relative;
    transition: ease;
    transition-duration: 1s;
}
.card2{
    background-image: url("./pic-2.png");
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
    height: 250px;
    width: 200px;
    position: relative;
    transition: ease;
    transition-duration: 1s;
}
.card3{
    background-image: url("./pic-3.png");
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 80px;
    height: 250px;
    width: 200px;
    position: relative;
    transition: ease;
    transition-duration: 1s;
}
.card4{
    background-image: url("./pic-4.png");
    background-repeat: no-repeat;
    color: white;
    margin-top: 30px;
    margin-right: 80px;
    border-radius: 10px;
    height: 250px;
    width: 200px;
    position: relative;
    transition: ease;
    transition-duration: 1s;
}
@media (min-width:360px) and (max-width:640px){
    .nav{
        width: 500px;
    }
    .content{
        width: 500px;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        /* margin-bottom: 0px; */
    }
    .box{
        width: 500px;
        height: 430px;
        display: flex;
        flex-wrap: wrap; 
    }
    .box div {
        height: 150px;
        width: 400px;
        border-radius: 15px;
        background-size: cover;
        margin-bottom: 20px;
    }
    .card1{
        position: absolute;
    }
    .card2{
        position: absolute;
        top: 175px;
        right: 430px;
    }
    .card3{
        position: absolute;
        top: 140px;
    }
    .card4{
        position: absolute;
        top: 320px;
        right: 430px;
    }

}
.card1:hover{
    transition-delay: 1s;
    transition-duration: 3s;
    margin-top: 10px;
}
.card2:hover{
    margin-top: 5px;
}
.card3:hover{
    margin-top: 5px;
}
.card4:hover{   
    margin-top: 5px;

}

